/* MARK: Header Section */
#headerNavigation {
    display: flex;
    justify-content: space-between;
}

#navigation {
    display: flex;
    gap: 10px;
}

#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#subtitle {
    color: rgba(128, 128, 128, 0.873);
}

/* MARK: Call Us Section */

#callUs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 32px;
}

#article img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

#form {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: gray;
    margin-right: 32px;
    border-radius: 8px;
}

.titleSubtitle {
    margin: 8px 8px;
}

/* Testing push to git */

@media screen and (max-width: 1000px) {
    h1 {
        color: red;
    }
}

.slider {
    display: block;
    margin: auto auto;
    margin-top: 20px;
    width: 400px;
    height: 200px;
}